{% extends 'base.html' %}
{% block nav %}

    <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'task_add' %}">Add Task</a>
    </li>

{% endblock %}
{% block content %}
    <h1>Задачи:</h1>
    <form action="" method="POST">
    {% csrf_token %}
    <p><input type="submit" class="btn btn-danger" value="Delete"></p>
        <div class="row">
            {% for task in tasks %}
                <div class="col-6 mb-3">
                    <div class="card">
                       <h5 class="card-header"><input type="checkbox" class="form-check-input" name="tasks" value="{{ task.pk }}"> Zadacha: <a href="{% url 'task_view' task.pk %}">{{ task.summary.title }}</a></h5>
                       <div class="card-body">
                           <h5 class="card-title">Tip: {% for t in task.type.all %} {{ t}} {% endfor %}</h5>
                           <h5 class="card-title">Status: {% for s in task.status.all %} {{ s}} {% endfor %}</h5>
                           <p class="card-text">{{ task.created_at|date:"d F Y"|default:'-' }}</p>
                       </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}