{% extends 'base.html' %}
{% block nav %}

    <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'task_add' %}">Add Task</a>
    </li>

{% endblock %}
{% block content %}
    <h1>Задачи:</h1>
        <div class="row">
            {% for task in tasks %}
                <div class="col-6 mb-3">
                    <div class="card">
                       <h5 class="card-header">Zadacha: <a href="{% url 'task_view' task.pk %}">{{ task.summary }}</a></h5>
                       <div class="card-body">
                           <h5 class="card-title">Тип: {{ task.type }}</h5>
                           <h5 class="card-title">Статус: {{ task.status }}</h5>
                           <p class="card-text">{{ task.created_at|date:"d F Y"|default:'-' }}</p>
                           <form action="{% url 'index' %}?id={{ task.id }}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="delete" class="btn btn-primary">
                           </form>
                       </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}