{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
          <a class="btn" aria-current="page" href="{% url 'task_add' %}">Add Task</a>
        </li>
{% endblock %}
{% block content %}
    <div class="card text-center">


          <h5 class="card-header">
            Zadanie: {{ task.summary }}
          </h5>
          <div class="card-body">
            <p class="card-text" style="white-space: pre-wrap">Opisatie: {{ task.description.title }} </p>
            <p class="card-text" style="white-space: pre-wrap">Status: {{ task.status.title }} </p>
            <p class="card-text" style="white-space: pre-wrap">Tip: {% for t in task.type.all %} {{ t}} {% endfor %} </p>

          </div>
          <div class="card-footer text-muted">
            Data sozdaniya: {{ task.created_at|date:"d F Y"|default:'-' }}
          </div>
          <div class="card-footer text-muted">
            Obnovlenie: {{ task.updated_at|date:"d F Y"|default:'-' }}
          </div>
          <div class="card-footer text-muted">
                <a href="{% url 'task_update' task.pk %}">Update Task</a>
                <a href="{% url 'task_delete' task.pk %}">Delete Task</a>
          </div>
    </div>
{% endblock %}