{% csrf_token %}


{% for error in form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}


<label class="form-label">Тип: </label>
        <select class="form-select" name="type">
            {% for type in types %}
                <option
                    {% if task.type == type.pk %}
                        selected
                    {% endif %}
                        value="{{ type.pk }}">{{ type.title }}</option>
            {% endfor %}
        </select>
        <br/>

<label class="form-label">Status: </label>
        <select class="form-select" name="status">
            {% for status in statuses %}
                <option
                    {% if task.status == status.pk %}
                        selected
                    {% endif %}
                        value="{{ status.pk }}">{{ status.title }}</option>
            {% endfor %}
        </select>
        <br/>
        <label class="form-label">Opisanie:</label>
        <input class="form-control" type="text" name="summary" value="{{ task.summary }}" required>
        <br/>
        <label class="form-label">Содержание:</label>
        <textarea class="form-control" name="description">{{ task.description }}</textarea>
        <br/>
    <input class="btn btn-success" type="submit" value="{{ button_text }}">
</html>